<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jks.recipe">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".container.BaseApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".authUi.AuthActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".SplashScreen" android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>
        <activity android:name=".mainUi.MainActivity" android:theme="@style/AppTheme3"/>
         <activity android:name=".mainUi.activity.CuisinDetailsActivity" android:theme="@style/AppTheme3"/>

    </application>

</manifest>